@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Futura;
}

body{
   background-color: white;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 20%;
  height: 100%;
  background:white;
  margin-left: 3%;
  position: fixed;
  border-right: solid rgba(112,112,112,0.5) 1px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
}

.text {
  display: inline-block;
  margin-left: 10%;
  vertical-align: middle;
}

.wrapper .sidebar h4 {
  font-size: 1vw;
  color: rgba(112,112,112,0.85);
  font-weight: 100;
}

.wrapper .sidebar div ul{
  padding-top: 5%;
}

.wrapper .sidebar div ul li{
  font-size: 1.2vw;
  line-height: 2vw;
  font-weight: lighter;
}    

.wrapper .sidebar ul li a{
  color:rgba(112,112,112,0.85);
  display: block;
  margin-block: 2%;
}

.wrapper .sidebar ul li:hover{
  background-color: rgb(0, 65, 213);
  margin-right: 5%;
  opacity: 77%;
  border-radius: 10px;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .sidebar ul li:hover img{
  filter: brightness(0) invert(1);
}

.wrapper .sidebar .adminTools {
  margin: 10% 0% 0% 10%;
}

hr {
  border: px solid rgba(112,112,112,0.5);
  margin: 6% 10% 6% 10%;
  vertical-align: middle;
}

.wrapper .sidebar .insights{
  margin: 0% 0% 0% 10%;
}

.wrapper .sidebar .miniProfile{
  margin: 50% 5% 0% 10%;
}

.profileImage {
  display: inline-block;
  margin-left: 0%;
  vertical-align: middle;
}

.nameAndID {
  display: inline-block;
  margin-left: 10%;
  vertical-align: middle;
}

.upDownButton {
  display: inline-block;
  float: right;
  text-align: right;
  vertical-align: middle;
}

.btn-btn-primary{
  border: none;
  text-align: center;
  background-color: white;
}


.wrapper .main_content{
  width: 100%;
  margin-left: 25%;
}

.wrapper .main_content .header{
  padding: 20px;
  background: white;
  color: black;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .content{
  margin: 20px;
  color: black;
  line-height: 25px;
}

.wrapper .main_content .content div{
  margin-bottom: 20px;
}

/* Add a black background color to the top navigation bar */
* {box-sizing: border-box;}

/* Style the navbar */
.topnav {
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid rgb(230, 222, 222);
  display: flex;
}

.topnav div {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 0 0;
  text-decoration: none;
  margin-bottom: 0;
  flex: 1;
}
.topnav div:nth-of-type(1){
  flex: 5;
}
.topnav div:nth-of-type(2){
  flex: 4;
}

/* Navbar links on mouse-over */
.topnav div .submit:hover {
  background-color: blue;
  color: black;
}

.topnav .title {
  text-align: left;
  height: 80px;
  padding-top: 40px;
  padding-left: 20px;
}
.topnav .search-container {
  margin-top: 10px;
  height: 70px;
  padding-top: 35px;
  float: right;
}
.topnav .notificationBell {
  height: 80px;
  padding-top: 50px;
}

.topnav .notificationBell:hover {
  background-color: white;
  color:gray;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

/* Style the button inside the input container */
.topnav .search-container button {
  float: left;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav div, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}